/* App.vue */
body {
  font-family: Verdana, sans-serif;
}
button {
  cursor: pointer;
}
.container {
  width: 600px;
  margin: auto;
}
.container h1 {
  font-size: 24px;
  padding: 10px 0 0 0;
}
.container .input {
  margin-top: 20px;
}
.container h1,
.container .input {
  margin-left: 140px;
}
.container .input button {
  margin-left: 10px;
}

/* DisplayProjectTimers.vue */
ul {
  list-style: none;
  padding: 0px;
}
li {
  width: 100%;
  line-height: 3;
}
.header2, .time, .footer {
  float: right;
}
.header2 {
  margin-right: 110px;
}
.time button {
  margin-left: 16px;
  text-align: center;
  width: 43px;
}
.footer {
  margin-top: 40px;
}
.footer .rest button {
  margin-left: 25px;
  width: 79px;
}
.footer .reset button {
  margin-left: 100px;
  margin-top: 40px;
  width: 50px;
}
.del {
  font-size: 12px;
  margin-left: 20px;
  cursor: pointer;
  color: rgb(119, 119, 238);
}
span.name {
  display: inline-block;
  width: 300px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-text-overflow: ellipsis;
}
.timers {
  animation-name: fadeIn;
  animation-duration: 1s;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.v-enter-active {
  transition: all 0.8s;
}
.v-enter, .v-leave-to {
  opacity: 0;
}
.v-enter-to {
  opacity: 1;
}

@media screen and (max-width:414px) {
  body {
    font-size: 13px;
  }
  .container {
    width: 325px;
    margin: auto;
  }
  .container h1 {
    font-size: 17px;
  }
  .container h1 {
    margin-left: 85px;
  }
  .container .input {
    margin-left: 60px;
  }
  .header2 {
    margin-right: 95px;
  }
  .time button {
    margin-left: 10px;
  }
  .footer .rest button {
    margin-left: 13px;
    width: 74px;
  }
  .del {
    margin-left: 15px;
  }
  span.name {
    width: 135px;
  }
}